# Serveur média
MEDIA_SERVER_HOST=
MEDIA_SERVER_PORT=443
MEDIA_SERVER_USERNAME=
MEDIA_SERVER_PASSWORD=
MEDIA_SERVER_ROOT_PATH=

# Radarr
RADARR_BASE_URL=
RADARR_API_KEY=
RADARR_ROOT_FOLDER=

# Sonarr
SONARR_BASE_URL=
SONARR_API_KEY=
SONARR_ROOT_FOLDER=
